.movies-cardlist {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 850px;
  grid-template-columns: repeat(auto-fit, 270px);
  column-gap: 20px;
  row-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 70px 0 80px;
  box-sizing: border-box;
  visibility: visible;
}

.movies-cardlist_hidden {
  visibility: hidden;
}

.movies-cardlist__not-found-text {
  font-size: 40px;
  line-height: 1.5;
  margin: 70px 0;
  padding: 0;
  text-align: center;
  grid-column: 1/5;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-cardlist {
    grid-template-columns: repeat(auto-fit, 339px);
    max-width: 708px;
    column-gap: 30px;
    row-gap: 36px;
  }

  .movies-cardlist__not-found-text {
    font-size: 30px;
    margin: 50px 0;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies-cardlist {
    grid-template-columns: 1fr;
    max-width: 300px;
    row-gap: 20px;
    padding: 40px 0 80px;
  }

  .movies-cardlist__not-found-text {
    font-size: 20px;
    margin: 50px 0;
    grid-column: 1;
  }
}