.movies-cardlist {
  display: grid;
  justify-content: flex-start;
  width: 100%;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, 270px);
  column-gap: 20px;
  row-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 70px 0 80px;
  box-sizing: border-box;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .movies-cardlist {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movies-cardlist {
    grid-template-columns: repeat(auto-fit, 339px);
    max-width: 708px;
    column-gap: 30px;
    row-gap: 36px;
    justify-content: center;
  }
}