.info {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.info_type_project {
  min-height: 608px;
}

.info_type_techs {
  min-height: 625px;
  background-color: #f5f5f5;
}

.info_type_student {
  min-height: 654px;
}

.info__container {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: transparent;
}

.info__container_type_project {
  padding: 110px 70px;
}

.info__container_type_techs {
  padding: 100px 70px;
}

.info__container_type_student {
  padding: 110px 70px 100px;
}

.info__title {
  margin: 0;
  padding: 0 0 23px 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #000;
  border-bottom: 1px solid #000;
}

.info__anchor {
  display: block;
  visibility: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .info_type_project {
    min-height: 585px;
  }
  
  .info_type_techs {
    min-height: 567px;
  }
  
  .info_type_student {
    min-height: 514px;
  }
  
  .info__container_type_project {
    padding: 90px 50px;
  }
  
  .info__container_type_techs {
    padding: 90px 50px;
  }
  
  .info__container_type_student {
    padding: 90px 50px;
  }

}