.promo {
  display: flex;
  justify-content: center;
  background-color: #5c5c5c;
  min-height: 524px;
}

.promo__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  background: 50% 82px/320px 320px url('../../images//landingLogo.svg') transparent no-repeat;
}

.promo__title {
  padding: 0;
  margin: 184px 0 0 0;
  max-width: 730px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .promo {
    min-height: 784px;
  }
  
  .promo__container {
    background: 50% 224px/320px 320px url('../../images//landingLogo.svg') transparent no-repeat;
  }
  
  .promo__title {
    margin: 326px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .promo {
    min-height: 570px;
  }
  
  .promo__container {
    background: 50% 142px/248px 248px url('../../images//landingLogo.svg') transparent no-repeat;
  }
  
  .promo__title {
    width: 93.75vw;
    margin: 207px 0 0 0;
    font-size: 31px;
  }
}