.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 18px;
}

.nav__link {
  transition: opacity 0.5s linear;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  text-decoration: none;
  color: #000;
  margin: 0 16px 0 0;
  padding: 0;
}

.nav__link:hover {
  opacity: 0.7;
  cursor: pointer;
  
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link_active {
  font-weight: 500;
}