.auth {
  min-height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 396px;
}

.auth__logo {
  background: center/38px 38px url('../../images//logo.svg') transparent no-repeat;
  min-height: 38px;
  max-width: 38px;
  transition: opacity 0.6s linear;
}

.auth__logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.auth__greeting {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 40px 0;
  padding: 0;
}

.auth__inputs {
  display: flex;
  flex-direction: column;
  min-height: 285px;
}

.auth__name-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.auth__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #a0a0a0;
  padding: 0;
}

.auth__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: #f9f9f9;
  border-radius: 8px;
  color: #000;
  min-height: 46px;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px 0;
}

.auth__input_type_error {
  color: #ee3465;
}

.auth__input:focus {
  outline: none;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
}

.auth__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  min-height: 12px;
  margin: 0 0 5px 0;
  visibility: hidden;
}

.auth__input-error_active {
  visibility: visible;
}

.auth__submit-btn {
  margin: 69px 0 16px;
  border: none;
  box-shadow: none;
  background-color: #2be080;
  min-height: 45px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  transition: opacity 0.6s linear;
}

.auth__submit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.auth__submit-btn_disabled {
  opacity: 0.2;
}

.auth__submit-btn:focus {
  outline: none;
}

.auth__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #a0a0a0;
  padding: 0;
  margin: 0;
}

.auth__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #2be080;
  padding: 0;
  margin: 0;
  transition: opacity 0.6s linear;
  justify-self: flex-end;
}

.auth__link:hover {
  opacity: 0.7;
  cursor: pointer;
}
