.header {
  display: flex;
  justify-content: center;
  background-color: #5c5c5c;
  min-height: 74px;
}

.header_logged-in {
  background-color: #fff;
}

.header__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  background-color: transparent;
}

.header__logo {
  background: center/38px 38px url('../../images/logo.svg') transparent no-repeat;
  min-width: 38px;
  min-height: 38px;
  transition: opacity 0.5s linear;
}

.header__logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__nav {
  display: flex;
}

.header__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__option {
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__option:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__option_to-register {
  min-height: 16px;
  font-weight: 500;
  color: #fff;
  margin: 0 30px 0 0;
  padding: 0;
}

.header__option_to-login {
  color: #000;
  background-color: #2BE080;
  min-width: 76px;
  min-height: 32px;
  text-align: center;
  padding: 8px 0;
  box-sizing: border-box;
  margin: 0;
}

.header__menu-btn {
  display: none;
  background: center/44px 44px url('../../images/menuIcon.svg') transparent no-repeat;
  min-height: 44px;
  width: 44px;
  box-shadow: none;
  border: none;
  transition: opacity 0.6s linear;
}

.header__menu-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__menu-btn:focus {
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    padding: 0 30px;
  }
  .header__nav {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__container {
    padding: 0 14px;
  }
  .header__nav {
    display: none;
  }
  .header__menu-btn {
    display: block;
    background: center/40px 43px url('../../images/menuIcon.svg') transparent no-repeat;
    min-height: 40px;
    width: 43px;
    box-shadow: none;
    border: none;
    transition: opacity 0.6s linear;
  }

  .header__option {
    font-size: 10px;
    line-height: 1.6;
  }
  
  .header__option_to-register {
    margin: 0 26px 0 0;
  }
  
  .header__option_to-login {
    min-width: 54px;
    min-height: 26px;
    padding: 5px 0;
  }
  
}