.project-info {
  list-style: none;
  margin: 70px 0 110px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 26px;
  column-gap: 40px;
}

.project-info__item {}

.project-info__item_phase {
  grid-column: 1;
  grid-row: 1;
}

.project-info__item_phase-descr {
  grid-column: 1;
  grid-row: 2;
}

.project-info__item_timing {
  grid-column: 2;
  grid-row: 1;
}

.project-info__item_timing-descr {
  grid-column: 2;
  grid-row: 2;
}

.project-info__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.project-info__text_type_description {}

.project-info__text_type_title {
  font-size: 20px;
  line-height: 1.2;
}

.project-info__text_type_back {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  color: #a0a0a0
}

.project-info__text_type_front {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
  color: #a0a0a0;
}

.project-info__scale {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  row-gap: 14px;
}

.project-info__period {
  min-height: 36px;
  background-color: #2be080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-info__period:first-of-type {
  grid-column: 1;
  grid-row: 1;
}

.project-info__period:last-of-type {
  background-color: #f2f2f2;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .project-info {
    list-style: none;
    margin: 70px 0 93px;
    row-gap: 22px;
    column-gap: 30px;
  }

  .project-info__text_type_description {
    font-size: 12px;
  }

  .project-info__text_type_title {
    font-size: 20px;
  }
}