.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  max-width: 600px;
  min-height: 58px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  margin: 90px 0 26px;
  padding: 0;
}

.techs__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  max-width: 460px;
  padding: 0;
  margin: 0 0 100px;
}

.techs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  column-gap: 10px;
  max-width: 690px;
  width: 100%;
  justify-content: center;
}

.techs__item {
  background-color: #e8e8e8;
  border-radius: 10px;
  min-width: 90px;
  min-height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .techs__title {
    margin: 80px 0 22px;
  }
  
  .techs__text {
    font-size: 12px;
    margin: 0 0 83px;
  }
  
  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    column-gap: 10px;
    max-width: 648px;
  }
  
  .techs__item {
    min-width: 84px;
    min-height: 57px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .techs__title {
    margin: 60px 0 24px;
    font-size: 30px;
  }
  
  .techs__text {
    font-size: 11px;
    line-height: 1.5;
    margin: 0 0 50px;
    max-width: 292px;
  }
  
  .techs__list {
    grid-template-columns: repeat(2, 84px);
    column-gap: 10px;
    row-gap: 10px;
    max-width: 648px;
  }
  
  .techs__item {
    min-width: 84px;
    min-height: 57px;
  }
}