.login {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 70px 0 0 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login {
    padding: 56px 0 30px;
  }
}