.student-info {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  max-width: 1140px;
  column-gap: 270px;
}

.student-info__title {
  grid-column: 1;
  grid-row: 1;
  margin: 66px 0 18px;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}

.student-info__subtitle {
  grid-column: 1;
  grid-row: 2;
  margin: 0 0 26px 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
}

.student-info__text {
  width: 600px;
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 99px 0;
  padding: 0;
}

.student-info__links {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.student-info__link {
  margin: 0 20px 0 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  transition: opacity 0.6s linear;
}

.student-info__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.student-info__photo {
  max-width: 270px;
  min-height: 327px;
  border-radius: 10px;
  grid-column: 2;
  grid-row: 1/5;
  margin: 66px 0 0 0;
}