.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.2;
  color: #000;
  text-align: center;
  margin: 246px 0 0 0;
  padding: 0;
}

.not-found__text {
  margin: 5px 0 184px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

.not-found__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #2be080;
  text-decoration: none;
  transition: opacity 0.6s linear;
}

.not-found__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .not-found {
    min-height: 1024px;
  }
  
  .not-found__title {
    margin-top: 408px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found {
    min-height: 780px;
  }
  
  .not-found__title {
    margin-top: 329px;
    font-size: 80px;
  }

  .not-found__text {
    margin: 10px 0 284px;
    font-size: 12px;
  }

  .not-found__link {
    font-size: 12px;
  }
}