.navtab {
  display: flex;
  justify-content: center;
  min-height: 66px;
  background-color: #f5f5f5;
}

.navtab__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

.navtab__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navtab__item {
  margin: 0 40px 0 0;
}

.navtab__item:last-child {
  margin: 0;
}

.navtab__link {
  color: #000;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  transition: opacity 0.6s linear;
}

.navtab__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

